$font-color2: #222222;
$font-color3: #333333;
$font-color6: #666666;
$font-color9: #999999;
$font-colora: #aaaaaa;
$font-colorf: #ffffff;

$border-colore0: #e0e0e0;
$border-colore2: #e2e2e2;
$border-colord: #dddddd;

$coloreb: #eb4a4d;
$colorf2: #f2f2f2;
$colorf9: #f9f9f9;
$colorb1: #b1b1b1;
$colorb3: #b3b3b3;
